In [94]:
from pandas import DataFrame, read_csv, cut
df = read_csv('data/baseball_data.csv')
df.describe()

            height       weight          avg           HR
count  1157.000000  1157.000000  1157.000000  1157.000000
mean     72.756266   184.513397     0.186793    45.359551
std       2.142272    15.445995     0.106175    74.065110
min      65.000000   140.000000     0.000000     0.000000
25%      71.000000   175.000000     0.138000     1.000000
50%      73.000000   185.000000     0.238000    15.000000
75%      74.000000   195.000000     0.258000    55.000000
max      80.000000   245.000000     0.328000   563.000000

In [95]:
df = df[(df.avg > 0.0) & (df.HR > 0)]
import numpy as np
df['avg_category'] = cut(df.avg, np.linspace(0.1, 0.35, 6), right=False)

In [96]:
a = df.drop(['height', 'weight', 'avg'], axis=1).groupby(by=['avg_category', 'handedness']).mean()
a.to_csv('data/cleaned_baseball.csv')

In [97]:
df.drop(['height', 'weight', 'avg'], axis=1).groupby(by=['handedness', 'avg_category']).sum()

                            HR
handedness avg_category
B          [0.1, 0.15)       9
           [0.15, 0.2)       2
           [0.2, 0.25)     904
           [0.25, 0.3)    2268
           [0.3, 0.35)     160
L          [0.1, 0.15)      11
           [0.15, 0.2)      32
           [0.2, 0.25)    4449
           [0.25, 0.3)   12591
           [0.3, 0.35)     660
R          [0.1, 0.15)      41
           [0.15, 0.2)     279
           [0.2, 0.25)    9020
           [0.25, 0.3)   21861
           [0.3, 0.35)     194

In [98]:
import numpy as np
df['avg_category'] = cut(df.avg, np.linspace(0.0, 0.35, 8), right=False)
df.head(10)

              name handedness  height  weight    avg   HR avg_category
1   Denny Lemaster          R      73     182  0.130    4  [0.1, 0.15)
2        Joe Nolan          L      71     175  0.263   27  [0.25, 0.3)
3      Denny Doyle          L      69     175  0.250   16  [0.25, 0.3)
4    Jose Cardenal          R      70     150  0.275  138  [0.25, 0.3)
5        Mike Ryan          R      74     205  0.193   28  [0.15, 0.2)
6   Fritz Peterson          B      72     185  0.159    2  [0.15, 0.2)
7     Dick Bertell          R      72     200  0.250   10  [0.25, 0.3)
8       Rod Kanehl          R      73     180  0.241    6  [0.2, 0.25)
12    Juan Bonilla          R      69     170  0.256    7  [0.25, 0.3)
13  Frank Tepedino          L      71     185  0.241    6  [0.2, 0.25)

In [99]:
df = df.drop(['height', 'weight', 'avg'], axis=1).groupby('avg_category').sum()

In [100]:
df.fillna(0).to_csv('data/cleaned_baseball.csv')